*,
*:after,
*:before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
  border: 0;
}

ul,
ol,
li {
  list-style: none;
}

a {
  text-decoration: none;
  outline: none;
}

img {
  display: block;
  width: 100%;
}


body {
    height: 100%;
    line-height: 1;
    font-size: 10px;
    overflow: hidden;    
}

/* ============================================== */
 
  .hidden {
    visibility: hidden;
  }
  
  .container {
    max-width: 860px;
    height: 700px;
    margin: 2rem auto;
  }

  .title{
    color: darkgrey;
    font-size: 3.2rem;
    text-align: center;
    margin: 20px auto;
  } 
  
  .slider__wrap {
    width: 100%;
    height: 100%;
    /* position: relative; */
    /* overflow: hidden; */
    display: grid;
    grid-template-rows: 3fr 1fr;
    grid-template-columns: 3fr 1fr;
    grid-template-areas:
      'content content'
      'description control';
    row-gap: 1.5rem;
  }
  
 input[type="radio"] {
    display: none;
  }

  .slider__wrap-content,
  .slider__wrap-text {
    font-size: 1.6rem;
    width: 100%;
    height: 100%;
    overflow: hidden;
    display: flex;
  }
  .slider__wrap-content {
    border:2px solid black;
    border-radius:10px;
    grid-area: content;
  }
  
  .slider__content,
  .slider__text{
    display: flex;
    width: 100% * 4;
    transition: transform 1s ease;
  }
  .slider__content .slide {
    width: 860px;
    background-repeat: no-repeat;
    background-size: contain; 
    background-position: center center;
    border-radius: 0.8rem;
  }
  
  .slider__content .slide-1 {
    background-image: url('./assets/img/slide1.jpg');
  }
  .slider__content .slide-2 {
    background-image: url('./assets/img/slide2.jpg');
  }
  .slider__content .slide-3 {
    background-image: url('./assets/img/slide3.jpg'); 
 }
  .slider__content .slide-4 {
    background-image: url('./assets/img/slide4.jpg');
  }

  .slider__text .slide {
    width: 800px;
    height: 100px;
  }
  .slider__control {
    display: flex;
    justify-content: space-between;
    /* grid-area: control; */
  }
  
  .slider__control label {
    position: relative;
    display: inline-block;
    padding: 2rem;
    cursor: pointer;
    transition: all 0.5s ease-out;
  }
  .slider__control label::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(50%, 50%);
    width: 1.2rem;
    height: 1.2rem;
    border-radius: 50%;
    border: 2px solid black;
    background-color: darkgrey;
    transition: all 0.3s ease-out;
  }
  .slider__control label:hover:before {
    border:none;
    background-color: darkgrey;
  }

  #r1:checked ~ .slider__control .slider__control-1::before,
  #r2:checked ~ .slider__control .slider__control-2::before,
  #r3:checked ~ .slider__control .slider__control-3::before,
  #r4:checked ~ .slider__control .slider__control-4::before{
    background-color: black;
    border-color: black;
  }

  #r1:checked ~ .slider__wrap-content .slider__content,
  #r1:checked ~ .slider__wrap-text .slider__text {
    transform: translateX(0);
  }
  
  #r2:checked ~ .slider__wrap-content .slider__content,
  #r2:checked ~ .slider__wrap-text .slider__text{
    transform: translateX(-25%);
  }
  
  #r3:checked ~ .slider__wrap-content .slider__content,
  #r3:checked ~ .slider__wrap-text .slider__text {
    transform: translateX(-50%);
  }
  
  #r4:checked ~ .slider__wrap-content .slider__content,
  #r4:checked ~ .slider__wrap-text .slider__text {
    transform: translateX(-75%);
  }



  
  @media screen and (max-width: 767px) {

   .title{
     font-size: 1.8rem;
   }
    .container{
        max-width: 700px;
        height: 400px;
    }
    .slider__wrap {
      grid-template-rows: 3fr 40px 40px;
      grid-template-columns: 1fr;
      grid-gap: 1rem;
      grid-template-areas:
        'content'
        'control'
        'description';
    }

    .slider__content .slide,
    .slider__text .slide {
        width: 700px;
    }

    .slider__control {
      justify-content: center;
    }

    .slider__control label:last-of-type {
      margin-right: 0;
    }
    .slider__text .slide {
      text-align: center;
      padding: 0;
    }
    .slider__control label::before {
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }
